<h3 class="stepTitle">
	Step 2 of 16 - 布標選擇
</h3>


<div class="row text-center">
	<div class="form-group">
		<div class="radio-group">
			<div class="col-sm-4">

				<input type="radio" ng-model="formData.logo" id="logo1" value="logo1" checked>
				<label for="logo1">
					<div class="thumbnail">
						<img src="/frontend/images/baseball.jpg">
						<p><strong>金標</strong></p>
					</div>
				</label>

			</div>
			<div class="col-sm-4">
				<input type="radio" ng-model="formData.logo" id="logo2" value="logo2">
				<label for="logo2">
					<div class="thumbnail">
						<img src="/frontend/images/baseball.jpg">
						<p><strong>紅標</strong></p>
					</div>
				</label>

			</div>
			<div class="col-sm-4">
				<input type="radio" ng-model="formData.logo" id="logo3" value="logo3">
				<label for="logo3">
					<div class="thumbnail">
						<img src="/frontend/images/baseball.jpg">
						<p><strong>藍標</strong></p>
					</div>
				</label>

			</div>

		</div>
	</div>
</div>


<div class="form-group row">
	<div class="col-xs-6">
		<button type="button" ng-click="previousStep('frontend.newOrder.leatherType')" class="btn btn-block btn-danger">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>上一步
		</button>
	</div>
	<div class="col-xs-6">
		<button type="button" ng-click="nextStep('frontend.newOrder.sportType')" class="btn btn-block btn-info">
			下一步 <span class="glyphicon glyphicon-circle-arrow-right"></span>
		</button>
	</div>
</div>
