<h3 class="stepTitle">
	Step 4 of 16 - 刀模與尺寸
</h3>


<div class="row text-center">
	這頁看不太懂
	1. 怎麼排版
	2. 怎麼選尺寸
</div>


<div class="form-group row">
	<div class="col-xs-6">
		<button type="button" ng-click="previousStep('frontend.newOrder.sportType')" class="btn btn-block btn-danger">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>上一步
		</button>
	</div>
	<div class="col-xs-6">
		<button type="button" ng-click="nextStep('frontend.newOrder.shellColor')" class="btn btn-block btn-info">
			下一步 <span class="glyphicon glyphicon-circle-arrow-right"></span>
		</button>
	</div>
</div>
