<div class="col-xs-12">
    <h1>刀模更新</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img width="100%" ng-src="{{model.img}}" alt="{{model.title}}">
                <div class="caption"><h3 class="text-center">原圖片</h3></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <form ng-submit="modelForm.$valid && modelFormSubmit(imgModel)" name="modelForm" novalidate>
                <div class="form-group required" ng-form="title" ng-class="{
                    'has-success': title.$valid && (!title.$pristine || modelForm.$submitted),
                    'has-error': title.$invalid && (!title.$pristine || modelForm.$submitted)
                }">
                    <label for="title">標題</label>
                    <input type="text" placeholder="標題" class="form-control" name="title" ng-model="model.title" required>
                    <div class="error-messages" ng-messages="title.$error" ng-show="title.$invalid && (!title.$pristine || modelForm.$submitted)">
                        <div ng-messages-include="errorMessages.html"></div>
                    </div>
                </div>
                <div class="form-group" ng-form="img">
                    <label for="img">圖片</label>
                    <input type="file" name="img" ng-model="imgModel" ngf-select ngf-accept="'image/*'" ngf-pattern="'image/*'">
                    <img ngf-src="imgModel" ngf-background="file" ngf-resize="{width: 300}" ngf-no-object-url="true">
                </div>
                <div class="form-group" ng-form="color" ng-class="{
                    'has-success': color.$valid && (!color.$pristine || modelForm.$submitted),
                    'has-error': color.$invalid && (!color.$pristine || modelForm.$submitted)
                }">
                    <label for="color"><div ng-style="{backgroundColor: model.color}" class="thumbnail border-font">顏色</div></label>
                    <md-radio-group ng-model="model.color" class="row color-table">
                        <md-radio-button ng-repeat="color in colors" ng-value="color.color_code" class="col-xs-6 col-sm-4 no-margin">
                            <div ng-style="{backgroundColor: color.color_code}" class="thumbnail border-font">{{color.title}}</div>
                        </md-radio-button>
                    </md-radio-group>
                    <div class="error-messages" ng-messages="color.$error" ng-show="color.$invalid && (!color.$pristine || modelForm.$submitted)">
                        <div ng-messages-include="errorMessages.html"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning btn-lg" ng-disabled="
                    (modelForm.$valid && modelForm.$submitted) || modelForm.$pristine || modelForm.$invalid
                ">
                    送出
                </button>
            </form>
        </div>
    </div>
</div>
