<div class="row" style="height: 90vh; overflow: auto;">
    <div class="col-xs-12">
        <h1>{{formTitle}}</h1>
        <form ng-submit="laceForm.$valid && laceFormSubmit()" name="laceForm" novalidate>
            <label>帶皮種類</label>
            <md-radio-group ng-model="currentLaceType" class="row color-table" ng-click="switchLaceType()">
                <md-radio-button ng-value="0" class="col-xs-6 col-sm-4 col-md-3 no-margin">
                    一般帶皮
                </md-radio-button>
                <md-radio-button ng-value="1" class="col-xs-6 col-sm-4 col-md-3 no-margin">
                    白芯帶皮
                </md-radio-button>
            </md-radio-group>

            <!-- <div ng-show="lace.type == 0;">
                I'm 一般帶皮
            </div>
            <div ng-show="lace.type == 1;">
                I'm 白芯帶皮
            </div> -->
            <div class="form-group required" ng-form="colors" ng-class="{
                'has-success': colors.$valid && (!colors.$pristine || laceForm.$submitted),
                'has-error': colors.$invalid && (!colors.$pristine || laceForm.$submitted)
            }">
                <label for="colors">{{laceColorTypeTitle}}</label>
                <table st-table="availabeColors" class="table color-table">
                    <thead>
                        <tr>
                            <th>打勾新增</th>
                            <th>顏色</th>
                            <th>色碼</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="availableColor in availabeColors">
                            <td class="vertical-align-middle">
                                <md-checkbox ng-checked="isColorChecked(availableColor, lace.selectedColors)" ng-click="toggle(availableColor, lace.selectedColors)">
                                </md-checkbox>
                            </td>
                            <td class="vertical-align-middle">
                                {{ availableColor.title }}
                            </td>
                            <td class="vertical-align-middle">
                                <div ng-style="{backgroundColor: availableColor.color_code}" class="thumbnail border-font">{{availableColor.color_code}}</div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>

                        <tr>
                            <td>
                                <button type="submit" class="btn btn-warning btn-lg" ng-disabled="(laceForm.$valid && laceForm.$submitted) || laceForm.$invalid || laceColors.length == 0">
                                    {{ laceFormBtnTitle }}
                                </button>
                            </td>
                            <td colspan="5" class="text-right">
                                <div st-pagination="" st-items-by-page="4" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </form>
    </div>
</div>
