<link rel="stylesheet" href="/backend/css/style.css">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="backend.home">WZ Baseball</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar" aria-expanded="false">
			<ul ng-if="!identity.status" class="nav navbar-nav navbar-right">
				<li class="pointer"><a ui-sref="backend.login">登入</a></li>
			</ul>
			<ul ng-if="identity.status" class="nav navbar-nav navbar-right">
				<li class="pointer"><a ui-sref="backend.color-index">顏色列表</a></li>
				<li class="pointer"><a ng-click="logout()">林蔭(登出)</a></li>
			</ul>
		</div>
	</div>
</nav>
