<div class="row" style="height: 90vh; overflow: auto;">
    <div class="col-xs-12">
        <h1>{{formTitle}}</h1>
        <form ng-submit="leatherForm.$valid && leatherFormSubmit(imgModel)" name="leatherForm" novalidate>
            <div class="form-group required" ng-form="title" ng-class="{
                'has-success': title.$valid && (!title.$pristine || logoForm.$submitted),
                'has-error': title.$invalid && (!title.$pristine || logoForm.$submitted)
            }">
                <label for="title">標題</label>
                <input type="text" placeholder="標題" class="form-control" name="title" ng-model="leather.title" required>
                <div class="error-messages" ng-messages="title.$error" ng-show="title.$invalid && (!title.$pristine || leatherForm.$submitted)">
                    <div ng-messages-include="errorMessages.html"></div>
                </div>
            </div>
            <div class="form-group required" ng-form="img" ng-class="{
                'has-success': img.$valid && (!img.$pristine || leatherForm.$submitted),
                'has-error': img.$invalid && (!img.$pristine || leatherForm.$submitted)
            }">
                <label for="img">圖片</label>
                <input type="file" name="img" ng-model="imgModel" ngf-select ngf-accept="'image/*'" ngf-pattern="'image/*'" ngf-model-invalid="errorFile" required>
                <img ngf-src="imgModel" ngf-background="file" ngf-resize="{width: 300}" ngf-no-object-url="true">
                <div class="error-messages" ng-show="img.$invalid && (!img.$pristine || leatherForm.$submitted)">
                    <p ng-show="img.$error.required">此欄位不可為空白</p>
                </div>
            </div>
            <div class="form-group" ng-form="description" ng-class="{
                'has-success': description.$valid && (!description.$pristine || leatherForm.$submitted),
                'has-error': description.$invalid && (!description.$pristine || leatherForm.$submitted)
            }">
                <label for="description">描述</label>
                <textarea placeholder="描述" class="form-control" name="description" ng-model="leather.description"></textarea>
                <div class="error-messages" ng-messages="description.$error" ng-show="description.$invalid && (!description.$pristine || leatherForm.$submitted)">
                    <div ng-messages-include="errorMessages.html"></div>
                </div>
            </div>
            <div class="form-group required" ng-form="colors" ng-class="{
                'has-success': colors.$valid && (!colors.$pristine || leatherForm.$submitted),
                'has-error': colors.$invalid && (!colors.$pristine || leatherForm.$submitted)
            }">
                <label for="colors">顏色</label>
                <table st-table="availabeColors" class="table color-table">
                    <thead>
                        <tr>
                            <th>打勾新增</th>
                            <th>顏色</th>
                            <th>色碼</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="availableColor in availabeColors">
                            <td class="vertical-align-middle">
                                <md-checkbox ng-checked="isColorChecked(availableColor, leather.selectedColors)" ng-click="toggle(availableColor, leather.selectedColors)">
                                </md-checkbox>
                            </td>
                            <td class="vertical-align-middle">
                                {{ availableColor.title }}
                            </td>
                            <td class="vertical-align-middle">
                                <div ng-style="{backgroundColor: availableColor.color_code}" class="thumbnail border-font">{{availableColor.color_code}}</div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>

                        <tr>
                            <td>
                                <button type="submit" class="btn btn-warning btn-lg"
                                    ng-disabled="(leatherForm.$valid && leatherForm.$submitted) || leatherForm.$pristine || leatherForm.$invalid || leather.selectedColors.length == 0">
                                    新增
                                </button>
                            </td>
                            <td colspan="5" class="text-right">
                                <div st-pagination="" st-items-by-page="4" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </form>
    </div>
</div>
